@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
    font-family: "Poppins";
    font-weight: 400;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --primary-color: #8561FF;
    --secondary-color: #EFECFC;
}
