.container {
    width: 100%;
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    border-radius: 7px;
    background-color: var(--secondary-color);
    min-height: 190px;
    color: var(--primary-color);
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 7px;
}

.tabs div {
    width: 185px;
    height: 35px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs p {
    z-index: 10;
}

.selected {
    position: absolute;
    background-color: white;
    width: 235px;
    height: 35px;
    border-radius: 7px;
}

/* NAME */

.form {
    width: 100%;
    padding: 10px 30px 30px 30px;
}

.form input {
    width: 100%;
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 0 10px;
    font-family: "Poppins";
    color: #696969B0;
}

.form input::placeholder {
    font-family: "Poppins";
    color: #696969B0;
}

.form input:focus {
    outline: none;
}

.form button {
    cursor: pointer;
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 80px;
    float: right;
    margin: 10px 0;
    margin-bottom: 30px;
    background-color: var(--primary-color);
    color: white;
}

/* INVITE */

.inviteContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper {
    width: 100%;
    height: 35px;
    background-color: white;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 7px;
}

.wrapper img {
    cursor: pointer;
}

.inviteContainer button {
    cursor: pointer;
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
}

.inviteContainer input {
    width: 100%;
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 0 10px;
    margin: 15px 0;
    font-family: "Poppins";
    color: #696969B0;
    font-weight: 400;
}

.inviteContainer input::placeholder {
    color: #696969B0;
    font-weight: 400;
}

.inviteContainer input:focus {
    outline: none;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px 0;
}

.btnWrapper a {
    font-size: 12px;
    margin: 0;
    transition: .5s all;
    border-radius: 7px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnWrapper a:hover {
    background-color: #8561FF50;
}

.search {
    position: relative;
}

/* SUGGESTIONS */
.suggestions {
    position: absolute;
    top: 50px;
    background-color: #8561FF50;
    backdrop-filter: blur(30px);
    border-radius: 7px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    max-height: 120px;
    overflow-y: auto;
}

.suggestions li {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px 0;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: white;
}
